{% extends "home/base.html" %}
{% load static %}
{% block head %}

    <title>E Talks</title>

    <style type="text/css">
        .spbgimg{
            position:absolute;
            top:0px;
            bottom:0px;
            width:100%;
            height:100%;
            z-index: 9;
        }
        .spbgimg:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.30);
        }
        .blogs-style2.blogs-style1.spcard .spbgimg:before{
            display:none;
        }
        .horizontal_image.blogs-style1.spcard .spbgimg {
            width: 100% !important;
            position: relative;
        }
        .spbgimg{
            height: 60%;
        }
        .blogs-style1.spcard.blogs-style2.blogs-featured .spbgimg:before, .blogs-style1.spcard.blogs-style2.blogs-featured .gallery_feed_wrap:before {
            width: 100%;
            height: 30%;
            background: red;
            display: block;
            content: '';
            position: absolute;
            top: 0px;
            background: -moz-linear-gradient(top, rgba(9, 17, 25, 0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(9, 17, 25, 0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(9, 17, 25, 0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            z-index: 10;
        }
        .blog{
            padding-bottom:70px;
         }
        body.blog{
            padding-bottom:0px;
        }
        .blog .container .col-12 .spcard, .blog .container .col-12 .grid-sizer{
            width:33.33%;
            min-width:auto;
        }
        @media screen and (min-width: 1300px){

            .blog .container .col-12 .spcard, .blog .container .col-12 .grid-sizer{
                width:33.33%;
                min-width:auto;
            }
            .blog .container .col-12 .blogs-featured.spcard {
                width: 66.66%;
                min-width:auto;
            }
            .blog .container .col-8 .blogs-featured.spcard, .blog.blog-standardfull .container .col-12 .blogs-featured.spcard{
                width: 100%;
                min-width:auto;
            }
            .blog .container .col-8 .spcard,  .blog .container .col-8 .grid-sizer{
                width:50%;
                min-width:auto;
            }

        }
        .blog .container .col-8 .spcard,  .blog .container .col-8 .grid-sizer{
            width:50%;
            min-width:auto;
        }
        .horizontal_image.blogs-style1.spcard .spbgimg img {
            display: block;
            width: 100%;
        }

          

    </style>

{% endblock head %}

{% block bodytag %}
    
    class="page-template page-template-tmp-blog-template page-template-tmp-blog-template-php page page-id-1039 woocommerce-no-js has-fixed-header     wpb-js-composer js-comp-ver-6.0.5 vc_responsive"

{% endblock bodytag %}
	
{% block body %}

<div class="page-title-wrap">
    <div class="page-title-bg rest-enable-parallax"></div>
        <div class="page-title-tint">
            
        </div>
            <div class="container header-flex header-enable-parallax">
                <h1>
                    E-TALKS
                </h1>
                <h4>
                    
                </h4>
            </div>
        </div>

                

<div class="main-content ">
<div class="blog  blog-standardfull">

	<div class="container">

		<div class="row">

			
			<div class="blog_item_wrapper effect-5  col-12 ">
				<div class="grid-sizer"></div>
													<div id="post-1038" class=" spvideo-post blogs-featured blogs-style2 blogs-style1 spcard post-1038 post type-post status-publish format-video has-post-thumbnail hentry category-city-life category-classics category-photograph tag-city-life tag-shooter tag-strategy post_format-post-format-video">
	
	




		<div class="spwrapper cat_color__background_color" >

		<div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e7.jpeg' %}); background-position: center; background-size: cover;" >

<!-- 		        		        			<img alt="picture posts format" height="392" width="500" src="{% static 'event/images/etalk/e7.jpeg' %}" />
 -->		    		</div>


	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				<a href="../author/admin/index.html">
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 06,2020</div>

			<h1 class="sptitle">
 				<a rel="bookmark" style="font-weight: bold;">ETALKS 07</a>
			</h1>
            			<p class="sptext"><b> SAMAR SINGLA</b> CEO, JUGNOO, guides us through how to survive the impact of COVID 19 on business worldwide&hellip;</p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
</div>									<div id="post-499" class=" blogs-style1 blogs-featured blogs-style2 spcard post-499 post type-post status-publish format-standard has-post-thumbnail hentry category-city-life category-photograph category-retro tag-art tag-city-life tag-natur tag-photog">
	

		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e6.jpeg' %}); background-position: center; background-size: cover;" >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				<a href="../author/admin/index.html">
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 05, 2020			</div>

			<h1 class="sptitle">
				<a rel="bookmark" style="font-weight: bold;">ETALKS 06</a>
			</h1>
            			<p class="sptext"><b> PUNEET VATSAYAN</b>,managing director at PKV ADVISORS speaks on the topic analysis of the trend followed by startups to raise funds.&hellip;</p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
</div>									<div id="post-496" class=" spaudio-post blogs-featured blogs-style2 blogs-style1 spcard post-496 post type-post status-publish format-audio has-post-thumbnail hentry category-art category-blog category-retro tag-country tag-natur tag-photo tag-photog post_format-post-format-audio">
	
	

		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e5.jpeg' %}); background-position: center; background-size: cover;" >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				<a href="../author/admin/index.html">
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 02, 2020			</div>

			<h1 class="sptitle">
				<a rel="bookmark" style="font-weight: bold;">ETALKS 05</a>
			</h1>
            			<p class="sptext"><b> VIKRAM SHETTY </B> on impact of covid 19 on industries and opportunities present post covid.&hellip;</p>

		
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
</div>									<div id="post-491" class=" blogs-style2 blogs-style1 blogs-gallery blogs-featured spcard post-491 post type-post status-publish format-gallery has-post-thumbnail hentry category-art category-retro tag-art tag-classics tag-country tag-photo post_format-post-format-gallery">
	<a href="../2013/06/17/morbi-vel-ipsum-vel-augue-mattis-ultricies-non-et-mauris/index.html" class="spvideolink"><i class="fas fa-play" aria-hidden="true"></i></a>
	<a href="../2013/06/17/morbi-vel-ipsum-vel-augue-mattis-ultricies-non-et-mauris/index.html" class="spaudiolink"><i class="fas fa-microphone" aria-hidden="true"></i></a>

	
		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e4.jpeg' %}); background-position: center; background-size: cover;" >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				<a href="../author/admin/index.html">
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 17, 2013			</div>

			<h1 class="sptitle">
				<a rel="bookmark" style="font-weight: bold;">ETALKS 04</a>
			</h1>
            			<p class="sptext"><B> Saurabh Trivedi</B> on importance of strategic planning for startups&hellip;</p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
</div>									<div id="post-144" class=" blogs-style1 blogs-featured blogs-style2 spcard post-144 post type-post status-publish format-standard has-post-thumbnail hentry category-city-life category-classics tag-art tag-classics tag-photog">
	

		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e3.jpeg' %}); background-position: center; background-size: cover;" >

		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				<a href="../author/admin/index.html">
				
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> May 9, 2020			</div>

			<h1 class="sptitle">
				<a rel="bookmark" style="font-weight: bold;">ETALKS 03</a>
			</h1>
            			<p class="sptext">Finance and Consulting Bootcamp by <B> ABHISHEK RAI and SHASHANK PATIDAR</B></p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
</div>				
<div class="pagination">
	<ul>
		<li class='active'><a href='etalks.html'>1</a></li>
		<li><a href="{% url 'etalks2' %}" class='inactive'>2</a></li>
		<li><a class='page-selector' href= "{% url 'etalks2' %}">&raquo;</a></li>
	</ul>
</div>
			</div><!-- /.span8 -->

			
		</div><!-- /row -->

	</div><!-- /container -->

</div><!-- /containerblog -->
</div> <!-- content -->

{% endblock body %}