{% extends 'home/base.html' %}
{% load static %}

{% block head %}{% endblock head %}

{% block bodytag %}
    class="paged page-template page-template-tmp-blog-template page-template-tmp-blog-template-php page page-id-1039 paged-2 page-paged-2 woocommerce-no-js has-fixed-header     wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
{% endblock bodytag %}

{% block body %}
                
    <div class="page-title-wrap" style="background:{% static 'home/images/patrick-tomasso-71909.jpg' %}; height: 400px; width: 95vw;" >
        <div class="page-title-bg rest-enable-parallax"></div>
        <div class="page-title-tint"></div>
        <div class="container header-flex header-enable-parallax">
            <h1>Blogs</h1>
        </div>
    </div>
                                                    
    <div class="main-content" style="margin-top: 70px;">
        <div class="blog  blog-standardfull">
            <div class="">
                <div class="row">
                {% for post in posts %}
                        <div class="column" style="display: flex; justify-content: center;">
                            <div class="blog_item_wrapper effect-5  col-12 " style="display: flex; justify-content: center;">
                                <div class="grid-sizer"></div>
                                <div id="post-142" class=" blogs-style1 blogs-featured blogs-style2 spcard post-142 post type-post status-publish format-standard has-post-thumbnail hentry category-classics category-natu category-retro tag-machine-motion tag-photog tag-prints-3d" style="width: 750px;">

                                    <div class="spwrapper cat_color__background_color" >
                                        <div class="spbgimg blog-roll-i post142" >
                                            <img alt="Eget ultrices mauris rhoncus non" title="Eget ultrices mauris rhoncus non" height="1336" width="2000" src="{{ post.image.url }}" />
                                        </div>


                                        <div class="spdata">
                                            <div class="spcontent">
                                                <span class="spauthor">
                                                    <a href="../../../author/admin/index.html">
                                                        <img src="{% static 'home/images/logo-big-vector-100x100.jpg' %}" width="20" height="20" alt="Skywarrior" class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 alignnone photo" />
                                                        {{ post.author }}
                                                    </a>
                                                </span>

                                                <div class="spdate">
                                                    <i class="far fa-clock" aria-hidden="true"></i>{{ post.date_posted }}			
                                                </div>

                                                <h1 class="sptitle">
                                                    <a rel="bookmark" href="{% url 'post-detail' post.id %}" style="font-weight: bold;">{{ post.title }}</a>
                                                </h1>
                                                <p class="sptext">{{ post.content|slice:":150" }}</p>

                                                <a href="{% url 'post-detail' post.id %}">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /containerblog -->
    </div> <!-- content -->
{% endblock body %}