{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<style>
    .nav-previous > a:hover, .nav-next > a:hover {
        color: black;
    }
    .btn:hover {background-color:#DB0000 }

    .post-create a {
        margin-right: 20px;
        border-radius: 10px; 
        padding: 10px 90px; 
        margin-top: 20px; 
        font-size: 21px; 
        color: black; 
        text-align: center;
        display:block; 
        color: white;
        transition: 0.5s;
        background: rgb(47, 146, 187);
        max-width: 300px;
    }

    .post-create a:hover {
        transform: scale(1.02); 
        font-size: 21px; 
        color: black; 
        text-align: center;
        display:block; 
        color: white;
    }
</style>
{% endblock head %}

{% block bodytag %}
    class="paged page-template page-template-tmp-blog-template page-template-tmp-blog-template-php page page-id-1039 paged-2 page-paged-2 woocommerce-no-js has-fixed-header     wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
{% endblock bodytag %}

{% block body %}    
<div class=" blog-ptw ">
    <div class="container header-flex" style="width: 82%; text-align: center; color: #555;">                        
        <div class="pmeta-category" style="margin-top: 120px;"></div>
        <h1 style="font-weight: bold;">{{ object.title }}</h1>                
        <div class="post-meta" style="margin-top: 10px;">
            <span class="pmeta-author" style="color: #555;">
                <i class="fas fa-user-circle"></i>
                By
    			<a href="" title="View all posts by Skywarrior" rel="author" style="color: #555;">{{ object.author }}</a>
            </span>
            <span class="pmeta-date" style="color: #555;"><i class="far fa-calendar"></i>{{ object.date_posted }}</span>
            <!-- <span class="pmeta-comments">
                <a data-original-title="4 comments in this post" href="index.html#comments" data-toggle="tooltip" style="color: #555">
                    <i class="fas fa-comments"></i> 4 Comments
                </a>
            </span> -->
        </div>
    </div>
</div>                                            
<div class="center" >
    {% if user.is_authenticated %}
        {% if user.is_team %}
            
            <div class="post-create" style="display: flex; flex-direction: row; flex-wrap: wrap; padding-top: 20px; justify-content: space-around; width: 80%; margin: auto">
                <a href="{% url 'post-update' post.id %}">Update Blog</a>
                <a href="{% url 'post-delete' post.id %}">Delete Blog</a>
            </div> 

         {% endif %}
    {% endif %}
</div>


<div class="main-content ">
    <div class="blog blog-nosidebar">
        <div class="container">
            <div class="col-12  post-142 post type-post status-publish format-standard has-post-thumbnail hentry category-classics category-natu category-retro tag-machine-motion tag-photog tag-prints-3d" >

                <div class="blog-post">
                    <div class="blog-content">
                        <img src="{{ post.blog_image.url }}" style="width: 100%; height: 70vh;"/>
                        <p style="text-align: justify;"> {{ post.content_markdown }}</p>
                    </div><!-- /.blog-content -->


                    <div class="clear"></div>
                </div><!-- /.blog-post -->

                <div class="clear"></div>

                <div class="author-wrapper" style="border-bottom: 1px solid rgba(0,0,0,0.05);">
                    <img src="{{ post.author_image.url }}" width="100" height="100" class="avatar avatar-100 wp-user-avatar wp-user-avatar-100 alignnone photo" style="border: 1px solid rgba(0, 0, 0, 0.05);" />					
                    <div id="author-info">
                        <h3>{{ post.author }}</h3>
                        <p>{{ post.author_markdown }}</p>
                        <!-- <a class="author-link" href="" >See all author posts </a> -->
                    </div>
                    <div class="clear"></div>
                </div>
<!-- 
                <div id="comments"  class="block-divider"></div>

                <div class="comment-form">
                    <ul class="comment-list">
                        <li id="comment-2" class="comment even thread-even depth-1">
                            <article id="div-comment-2" class="comment-body">
                                <div class="comment-avatar">
                                    <img src="https://secure.gravatar.com/avatar/bd3fbef16b0c06fae6fe591785d7af74?s=70&amp;d=mm&amp;r=g" width="70" height="70" alt="Avatar" class="avatar avatar-70wp-user-avatar wp-user-avatar-70 alignnone photo avatar-default" />        
                                </div>

                                <div class="comment-meta">
                                    <div class="comment-metadata">
                                        by <span class="commenter">author1</span>
                                        <time datetime="2013-05-04T21:31:56+00:00">
                                            <i class="far fa-clock" aria-hidden="true"></i> date and time                
                                        </time>
                                    </div>

                                    <div class="comment-content">
                                        <p>comment1</p>
                                    </div>

                                </div>

                                <div class="reply">
                                    <a rel='nofollow' class='comment-reply-link' href='#comment-2' data-commentid="2" data-postid="142" data-belowelement="div-comment-2" data-respondelement="respond" aria-label='Reply to Nikola'>
                                        Reply
                                    </a>
                                </div>    
                            </article>
                        </li>
                    </ul>

                    <div class="navigation">
                        <div class="alignleft"></div>
                        <div class="alignright"></div>
                    </div>
                </div>

                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply 
                        <small>
                            <a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a>
                        </small>
                    </h3>			
                    <form action="https://skywarriorthemes.com/benri/demo1/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                        <p class="comment-notes">
                            <span id="email-notes">Your email address will not be published.</span>
                             Required fields are marked 
                             <span class="required">*</span>
                        </p>
                        <p class="comment-form-comment">
                            <label for="comment">Comment</label> 
                            <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                        </p>
                        <p class="comment-form-author">
                            <label for="author">Name <span class="required">*</span></label> 
                            <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' />
                        </p>
                        <p class="comment-form-email">
                            <label for="email">Email <span class="required">*</span></label> 
                            <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' />
                        </p>
                        <p class="comment-form-url">
                            <label for="url">Website</label> 
                            <input id="url" name="url" type="text" value="" size="30" maxlength="200" />
                        </p>
                        <p class="comment-form-cookies-consent">
                            <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" />
                            <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                        </p>
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> 
                            <input type='hidden' name='comment_post_ID' value='142' id='comment_post_ID' />
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                        </p>			
                    </form>
                </div> -->

                <nav class="navigation post-navigation" role="navigation">
                    <h2 class="screen-reader-text">Post navigation</h2>
                    <div class="nav-links">
                        <div class="nav-previous">
                            {% if post.get_prev_post %}
                            <a href="{% url 'post-detail' post.get_prev_post.id %}" rel="prev" >
                                <span class="screen-reader-text">Previous Post:</span>
                                <span class="nav-title">
                                    <span class="nav-title-icon-wrapper"><i class="fas fa-arrow-left"></i></span> 
                                    Previous
                                </span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="nav-next">
                            {% if post.get_next_post %}
                            <a href="{% url 'post-detail' post.get_next_post.id %}" rel="next">
                                <span class="screen-reader-text">Next Post:</span>
                                <span class="nav-title"> Next
                                    <span class="nav-title-icon-wrapper"><i class="fas fa-arrow-right"></i></span>
                                </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div><!-- /.span8 -->
            
        </div><!-- /container -->
    </div><!-- /blog -->
</div> <!-- content -->
{% endblock body %}