{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-container" class="container p-none" style="display: flex; justify-content: center; background-color:black; ">
    <div class="lgn-container vc_col-lg-8" style="margin-top: 80px; margin-bottom: 40px; margin-right: auto;">
    <form method="POST"
    action="{% url 'profile' %}">
        {% csrf_token %}
        
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 ">Log In</legend>
           
        </fieldset>
        {{ form|crispy }}
        <div class="form-group" >
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock body %}






        
               
                