{% extends 'home/base.html' %} 
{%load crispy_forms_tags %} 

 {% block body %}



<div id="content-container" class="container p-none" style="display: flex; justify-content: center; background-color: black; ">
  <div class="lgn-container vc_col-lg-8" style="margin-top: 80px; margin-bottom: 40px;">
    <form id="login-form" method="post" action="">
      {% csrf_token %} 
      <fieldset class="form-group">
        <legend class="border-bottom mb-6 " style="font-size: 25px;color:red; padding-bottom: 20px;">Sign up as a Student</legend>
        </fieldset>
      {{ form|crispy}}
      <input type="submit" value="Sign up" class="btn btn-primary pull-right" />
    </form>
  </div>
</div>
{% endblock body %}
